<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title> Word frequency app - built with go!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">go Word Analysis!</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/history">Past Runs</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col s12">
                <form enctype="multipart/form-data" action="http://localhost:8080/upload" method="post">
                    <input type="file" name="textFile" />
                    <br>
                    <br>
                    <br>
                    <label>
                        <input type="checkbox" name="stopWordsFilter" value="true"/>
                        <span>remove stop words</span>
                    </label>
                    <br>
                    <br>
                    <br>
                    <input type="submit" value="upload" />
                </form>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>