<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title> Word frequency app - built with go!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">go Word Analysis!</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/history">Past Runs</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br>
        <div class="row">
            <div class="col s12">
                
                <p>
                    <h5>Settings</h5>
                    Filter enabled: {{.Filter}}
                </p>
            </div>
            <div class="col s6">
                <h5>Original Text</h5>
                {{.FileContent}}
            </div>
            <div class="col s6">
                <h5>Frequency Analysis</h5>
                {{range .FileWords}}
                    {{.}} <br>
                {{end}}
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>